/* ------------ header ------------ */

.header {
    width: 800px;
    height: 200px;
    position: relative;
    background-image: url('../images/bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}

.clear {
    width : 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.clear i {
    font-size: 30px;
    color: #FFF;
}

.clear i:hover {
    cursor: pointer;
}

.uncheck {
    width : 30px;
    height: 30px;
    position: absolute;
    right: 60px;
    top: 20px;
}

.uncheck i {
    font-size: 30px;
    color: #FFF;
}

.uncheck i:hover {
    cursor: pointer;
}

.rotate {
    animation: spin linear infinite 1.5s;
}

#date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    text-shadow: 1px 3px 5px #000;
}

/* ------------ content ------------ */

.content {
    width: 800px;
    height: 550px;
    background-color: #FFF;
    overflow: auto;
}

.content::-webkit-scrollbar { 
    display: none; 
}

.content ul {
    padding: 0;
    margin: 0;
}

.item {
    width: 800px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    animation: fadeIn 1.5s;
}

.item i.co {
    position: absolute;
    font-size: 25px;
    padding-left: 5px;
    left: 15px;
    top: 10px;
}

.item i.co:hover {
    cursor: pointer;
}

.fa-check-circle {
    color:#6eb200;
}

.editor {
    top: 5px;
    left: 40px;
    margin: 0;
    width: 700px;
    padding: 5px;
    font-size: 20px;
    position: relative;
    display: inline-block;
    background-color: #FFF;
    border-radius: 5px;
    border: none;
}

.item p.text {
    margin: 0;
    padding: 0;
    left: 50px;
    top: 8.5px;
    font-size: 20px;
    max-width: 720px;
    position: relative;
    display: inline-block;
    background-color: #FFF;
}

.lineThrough {
    text-decoration: line-through;
    color : #ccc;
}

.edit {
    top: 11.5px;
    left: 730px;
    font-size: 25px;
    position: absolute;
}

.edit:hover {
    cursor: pointer;
    color: #01AFAE;
}

.item i.de {
    top: 10px;
    right: 15px;
    font-size: 25px;
    position: absolute;
}

.item i.de:hover {
    cursor: pointer;
    color:#AF0000;
}

/* ------------ add item ------------ */

#add {
    cursor: pointer;
}

#add:hover {
    color: #01AFAE;
}

.add-task {
    position: relative;
    width: 780px;
    height: 40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
}

.add-task i {
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-task input {
    position: absolute;
    left: 50px;
    height: 35px;
    width: 720px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Work Sans', sans-serif;
    color: #4162f6;
}

.add-task input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Work Sans', sans-serif;
    color: #4162f6;
    font-size: 20px;
}

.add-task input::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Work Sans', sans-serif;
    color: #4162f6;
    font-size: 20px;
}

.add-task input:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Work Sans', sans-serif;
    color: #4162f6;
    font-size: 20px;
}

.add-task input:-moz-placeholder { /* Firefox 18- */
    font-family: 'Work Sans', sans-serif;
    color: #4162f6;
    font-size: 20px;
}

@keyframes colorIn {
    
}

@keyframes fadeIn {
    from { 
        opacity: 0;
    } to { 
        opacity: 1; 
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1050px) {
    .header, .content, .item {
        width: 800px;
    }
    .add-task {
        width: 780px;
    }
    .add-task input {
        width: 720px;
    }
    .edit {
        left: 730px;
    }
}

@media only screen and (max-width: 750px) {
    .header, .content, .item {
        width: 500px;
    }
    .add-task {
        width: 480px;
    }
    .add-task input {
        width: 420px;
    }
    .edit {
        left: 430px;
    }
}

@media only screen and (max-width: 600px) {
    .header, .content, .item {
        width: 500px;
    }
    .add-task {
        width: 480px;
    }
    .add-task input {
        width: 420px;
    }
    .edit {
        left: 430px;
    }
}